/* *****************************

BVAmbient - VanillaJS Particle Background
Developed by: Bruno Vieira

**************************** */

.easygrid_column
{
	position:relative;
}
.easygrid_bvgrid
{
	display:flex;
}
.easygrid_block
{
	word-break: break-all;
	position: relative;
	box-sizing: border-box;
}

